<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <title>{% block title %}ChocoBlog{% end %}</title>
  <!-- Bootstrap core CSS -->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row-fluid">
    <div class="span12">{% module title(title='ChocoBlog', subtitle='powered by tornado') %}</div>
    <div class="span12">
      {% block header %}{% end %}
    </div>
  </div>
  {% block body %}<p>This is page body.</p>{% end %}
</div>
<div class="footer">
  <div class="container">
    <p class="text-muted">
      Powered by <a href="https://github.com/tornadoweb/tornado">Tornado</a>
    </p>
  </div>
</div>
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% block footer_script %}{% end %}
</body>
</html>